{% extends 'base.html'%}
{% block content %}


<div class="container mt-3">
    <div class="col-md-2">
        <div class="list-group">
            {% for item in categories %}
            <a href="{{'/category/item.pk'}}" class="list-group-item list-group-item-action active" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ item.title }}</h5>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
            {% endfor %}
        </div>
    </div>
    {% for item in goods %}
    <div class="col-md-5">
        <div class="row">
            <div class="card mb-3" style="width: 100rem;">
                <div class="card-body">
                    <div class="media">
                        <!--                        <img src="{{ item.photo.url}}" alt="">-->
                        <div class="media-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость: {{item.price}} рублей</li>
                                <li class="list-group-item">Гарантия: {{item.guarantee}} год(а)</li>
                                <li class="list-group-item">Категория: {{item.category}}</li>
                            </ul>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Стоимость: {{item.price}} рублей</li>
                        <li class="list-group-item">Гарантия: {{item.guarantee}} год(а)</li>
                        <li class="list-group-item">Категория: {{item.category}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Подробнее...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
