{% extends 'base.html'%}
{% block content %}
<div class="card text-center mt-7">
  <div class="card-header ">
    <h5 class="card-title">Наши контакты</h5>
  </div>
  <div class="card-body mb-7">
    <blockquote class="blockquote mb-5">
      <p>Мы находимся по адресу: г. Пермь, ул. Леонова, дом 12</p>
      <footer class="blockquote">Контактный номер телефона:
        <cite title="Source Title">+7(908)-248-76-93</cite></footer>
      <footer class="blockquote">Адрес электронной почты:
        <cite title="Source Title">girsh.yuliya@mail.ru</cite></footer>
    </blockquote>
  </div>
</div>

{% endblock %}
